$color-gray-darker : #333;
$color-gray-dark : #555;
$color-gray : #777;
$color-gray-light : #edede8;
$color-gray-lighter : #f2f2f2;
$color-link : #3f72ff;
$color-brand : $color-gray; // #f21c58;
$color-brand-alt : #00a77b;
$color-brand-alt-hover : #3f72ff;
$color-btn : $color-brand-alt;


$break-small: 37.5625em;
$break-large: 64.0625em;

@mixin respond-to($media) {
	@if $media == small {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == medium {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == large {
		@media only screen and (min-width: $break-large) { @content; }
	}
}

@import "main.bundle.css";
@import "popup";
@import "abtest";

.svtse_menu__logotype {
	background-image: url("svt_logo_black_2x.png");
}


.mfp-content {
	width: 80%;
	max-width: 650px;
	margin: 1em auto 3em auto;
	h1 {
		font-family: Cambria, Georgia, serif;

	}
	// For preload
	// background: #F55;
	// display: block !important; // Just for .mfp-s-error .mfp-content { display: none; }
	/*
	height: 90%;
	position: relative;
	top: 90%;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	transition: all 1s ease-out;
	*/
}

html.pop-anim .mfp-content {
	top: 0%;
}
#pop-mock {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1042;
	div {
		width: 80%;
		max-width: 650px;
		margin: 1em auto 3em auto;
		background: #FFF;
		display: block !important; // Just for .mfp-s-error .mfp-content { display: none; }
		min-height: 100%;
		position: relative;
		top: 110%;
		-webkit-transition: top 0.2s ease-out;
		-moz-transition: top 0.2s ease-out;
		transition: top 0.2s ease-out;
	}
}
.pop-mock #pop-mock {
	display: block;
}
.pop-anim #pop-mock div {
	top: 0;
}
// Hide ajax
.mfp-content .abtest {
	display: none;
	/*
	opacity: 0;
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	*/
}
.pop-ajax .mfp-content .abtest {
	display: block;
	// opacity: 1;
}
/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.85;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/*
// content animate it
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	top: 0;
}
.mfp-fade.mfp-wrap.mfp-ready .abtest {
	display: block;
}
// content animate out
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	top: 110%;
}
.mfp-fade.mfp-wrap.mfp-removing .abtest {
	display: none;
}
*/

/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////


button.mfp-close {
	background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
	color: #FFF !important;
	width: 45px;
	height: 45px;
	line-height: 32px;
	text-align: right;
	padding: 0 5px 25px 0;
	margin-left: -1px;

	/*
	background: #000;
	color: #FFF !important;
	width: 25px;
	height: 25px;
	line-height: 24px;
	border-radius: 100%;
	margin: -12px;
	opacity: 1;
	border: 2px solid #000;
	*/
}

/*** TEST ***/
.svtse_teaser {
	padding-bottom: 0;
}
.test-full-episode {
	display: block;
	border-top: 4px solid $color-gray-light;
	margin: 0;
	padding: 10px 1em 10px 1em;
	text-decoration: none;
	font-weight: bold;
	color: $color-brand-alt;
	&:hover {
		color: #FFF;
		background: $color-brand-alt-hover;
	}
	.svt_icon {
		margin-right: .2em;
	}
	span {

		font-weight: 200;
		i {
			white-space: nowrap;
			font-style: normal;
		}
	}
}
.svtse_hero__caption-text-program {
	color: $color-brand;
}
.svtse_hero__caption-space {
	padding: 0;
	background: transparent;
	.svtse_teaser__link {
		padding: .5em 1em 1em 1em;
		display: block;
		background: #FFF;
	}
}
.test-full-episode-onhero {
	// margin: 1em 0 0 0;
	padding-bottom: 15px;
	margin-top: 4px;
	border-top: none;
	background: #FFF;
	&:hover {

		.svt_icon--live {
			color: #FFF;
		}
	}
	.svt_icon--live {
		color: red;
		font-size: 1.5em;
		margin-right: .2em;
		position: relative;
		top: 2px;
	}
}


.test-full-episode-onhero--v2 {
	padding: 8px 10px;
	background: $color-brand-alt;
	color: #FFF;
	.svt_icon--live {
		display: none;
	}
	&:hover {
		// color: $color-brand-alt;
		background: $color-brand-alt-hover;
	}
}
.flist {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flist--space-between {
	-webkit-align-content: space-between;
	align-content: space-between;
}
.flist__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.flist__item-full {
	width: 100%;
}

/* variants */
.t-hide, .t-a, .t-time {
	display: none;
}
strong.t-show, .t_b {
	display: inline;
}

.svtse_teaser__text-program {
	color: $color-brand;
}

.svtse_teaser__link {
	&:hover {
		h1 {
			text-decoration: underline;
		}
		.svtse_teaser__text-program {
			background: rgb(25,25,25);
		}
		img {
			opacity: .9;
		}
	}
}

.svtse_hero__caption-block--v2 {

	.svtse_teaser__link {
		background: transparent;
		padding: 0;
	}
	.svtse_hero__caption-text-program, .svtse_hero__caption-text-headline {
		background: rgba(25,25,25,0.8);
		color: #FFF;
		font-family: Cambria, Georgia, serif;
		font-size: 12px;
		// letter-spacing: 1px;
		display: inline-block;
		padding: 5px 8px;
		margin-bottom: 3px;
		font-weight: 500;
	}
	.svtse_hero__caption-text-headline {
		display: block;
		font-size: 24px;
		padding: 8px 8px;
	}
	.svtse_hero__caption-text-bread {
		display: none;
	}
}



.svtse_teaser__text--v2 {
	margin-top: -3em;
	position: relative;
	.svtse_teaser__text-bread {
		display: none;
	}
	.svtse_teaser__text-program {
		background: rgba(25,25,25,0.8);
		color: #FFF;
		font-family: Cambria, Georgia, serif;
		font-size: 12px;
		// letter-spacing: 1px;
		display: inline-block;
		padding: 5px 8px;
		margin-bottom: 1em;
	}
	.svtse_teaser__text-headline {
		margin: .2em 0;
	}
}
